<div class="mw text-white mx-auto">
    <div class="foot flex flex-col lg:flex-row justify-between text-center lg:text-start lg:mx-52 mx-10 my-20">
        <div class="flex-col">
            <img src="../../assets/logo.png" alt="">
            <p class="my-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. neque posuere, puvinar.</p>
        </div>
    
        <div class="flex flex-col my-5 lg:my-auto">
            <h2 style="font-size: 30px;">Service</h2>
            <p class="my-2">Email Marketing</p>
            <p class="my-2">Campaigns</p>
            <p class="my-2">Branding</p>
            <p class="my-2">Offline</p>
        </div>
    
        <div class="flex flex-col my-5 lg:my-auto">
            <h2 style="font-size: 30px;">About</h2>
            <p class="my-2">Our Story</p>
            <p class="my-2">Benefits</p>
            <p class="my-2">Team</p>
            <p class="my-2">Career</p>
        </div>
    
        <div class="flex flex-col my-5 lg:my-auto">
            <h2 style="font-size: 30px;">Help</h2>
            <p class="my-2">FAQs</p>
            <p class="my-2">Contact us</p>
            <p class="my-2">Blog</p>
        </div>
    </div>
    
    <div class="flex flex-col lg:flex-row justify-between lg:items-center border-t-2 border-white lg:mx-52 mx-10 py-10">
        <p>© 2023 Scales. All rights reserved.</p>
        <div class="flex flex-row gap-5 my-5 lg:my-auto">
            <a href="#"><img src="../../assets/x.png" class="hover:opacity-80"></a>
            <a href="#"><img src="../../assets/wp.png" class="hover:opacity-80"></a>
            <a href="#"><img src="../../assets/mail.png" class="hover:opacity-80"></a>
        </div>
    </div>
</div>