<div class="bg-transparent flex flex-row justify-between items-center p-7 px-32 text-white">
    <img src="../../assets/logo.png" alt="">

    <ul class="flex justify-between gap-20 relative">
        <a href="#" class="active"><li class="px-3">Home</li></a>
        <a href="#"><li class="px-3">Methodology</li></a>
        <a href="#"><li class="px-3">Result</li></a>
        <a href="#"><li class="px-3">Projects</li></a>
        <a href="#"><li class="px-3">Team</li></a>
    </ul>

    <button>Contact Us</button>
</div>